@model IEnumerable<Product>

@{
    ViewBag.Title = "Index";
}
<div><b>Table Format Data Displaying in ForEach</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        <th>Product Id </th>
        <th>  Name </th>
        <th>  Price </th>
        <th>Image</th>
       
    </tr>
    @foreach (var d in Model)
    {
        <tr>
            <td>@d.Id</td>
            <td>@d.Name</td>
            <td>@d.Price</td>
            <td>@d.Image</td>
        </tr>
    }
</table> 